@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.container-fluid {
  background-color: #FCFBF7;
}

/*Estilo lista*/
.navbar {
  background-color: rgba(252, 251, 247, 0.9);
  position: fixed;
  z-index: 10;
  width: 100%;
  height: auto;
}

.navbar .btn_1 {
  margin-left: auto;
  background: linear-gradient(-45deg, var(--color-1), var(--color-2));
  background-size: 500% 500%;
  animation: bg 8s ease infinite reverse;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 30px;
  white-space: nowrap;
  transition: background-color 0.5s;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar .btn_1 img {
  width: 26px;
  margin-left: 16px;
}

.navbar .btn_1:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.navbar .i {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.navbar a {
  color: #272D4D;
}

.navbar a:hover {
  color: #B83564;
}

.navbar a:hover::after {
  width: 100%;
  background-color: #B83564;
}

.navbar .nav-link active {
  color: #171a2e;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 40%;
  border-radius: 0px 0px 16px 16px;
  width: 100%;
  height: 80vh;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: clamp(2rem, 8vw - 2rem, 3rem);
  color: #FCFBF7;
  padding-top: 200px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tituloHeader {
  align-content: center;
}

body.pagina_1 header {
  background-image: url(../images/imagen_section_1_Kahu.jpg);
}

body.pagina_2 header {
  background-image: url(../images/fondo_header_kahuApp_3.jpg);
}

body.pagina_3 header {
  background-image: url(../images/fondo_header_kahuApp_5.jpg);
}

body.pagina_4 header {
  background-image: url(../images/fondo_header_kahuApp_2.jpg);
}

body.pagina_5 header {
  background-image: url(../images/fondo_header_kahuApp_6.jpg);
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #272D4D;
  overflow: auto;
}

footer .bloque_1 {
  justify-content: center;
}

footer .bloque_1 img {
  width: 264px;
}

footer .bloque_1 .text_footer {
  color: #FCFBF7;
  text-align: center;
  margin-left: 6%;
  margin-top: 0%;
  margin-right: 6%;
  margin-bottom: 6%;
}

footer .bloque_1 .btn_1 {
  background: linear-gradient(-45deg, var(--color-1), var(--color-2));
  background-size: 500% 500%;
  animation: bg 8s ease infinite reverse;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.5s;
  width: 100%;
  margin: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer .bloque_1 .btn_1 img {
  width: 32px;
}

footer .bloque_1 .btn_1:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  display: block;
  margin-bottom: 8px;
}

footer ul li a {
  color: #FCFBF7;
  text-decoration: none;
}

footer .navbar {
  color: #FCFBF7;
  text-align: center;
}

footer .redes .imagen_qr {
  width: 150px;
  height: 150px;
  margin-top: 32px;
  margin-bottom: 32px;
}

footer .redes .redes-sociales {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  display: flex;
  color: #333;
  margin-bottom: 8px;
  align-items: center;
}

footer .redes .redes-sociales img {
  width: 32px;
}

footer .pie_pagina {
  color: #FCFBF7;
  margin-bottom: 32px;
  margin-top: 16px;
  width: 100%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 16px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: flex-start;
}

.container .formulario {
  width: 100%;
  max-width: 400px;
  margin-right: 16px;
}

.container .formulario form {
  margin-bottom: 16px;
}

.container .formulario form label {
  display: block;
  margin-bottom: 4px;
}

.container .formulario form input,
.container .formulario form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
}

.container .tarjeta-identificatoria div {
  margin-bottom: 10px;
}

.container .btn_1 {
  background: linear-gradient(-45deg, var(--color-1), var(--color-2));
  background-size: 500% 500%;
  animation: bg 8s ease infinite reverse;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container .btn_1:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

.container .tarjeta-identificatoria {
  display: flex;
  justify-content: space-between;
  background: url("../images/fondo_tarjeta_mascota.png") center center/cover no-repeat;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 16px;
  text-align: left;
  font-size: 0.875rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9;
  background-color: #FCFBF7;
}

.container .tarjeta-identificatoria .columna-1 {
  width: 40%;
  justify-content: center;
}

.container .tarjeta-identificatoria .columna-2,
.container .tarjeta-identificatoria .columna-3 {
  width: 30%;
  justify-content: center;
}

.container .tarjeta-identificatoria #codigo-qr {
  width: 150px;
  height: 150px;
}

.container .tarjeta-identificatoria #imagen-mascota {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 16px;
}

.container .tarjeta-identificatoria .logo-kahuapp {
  width: 100px;
  margin-top: 20px;
}

html {
  background-color: #FCFBF7;
  scroll-behavior: smooth;
}

section {
  margin-right: 7.5%;
  margin-left: 7.5%;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #B83564;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 32px;
}

.container {
  justify-content: center;
  margin-bottom: 32px;
}

.container .carousel-item {
  width: 200px;
  height: 200px;
}

.container .carousel-item img {
  border-radius: 50%;
}

.secciones_1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: linear-gradient(-45deg, var(--color-1), var(--color-2));
  background-size: 500% 500%;
  animation: bg 5s ease infinite reverse;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 32px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.secciones_1 iframe {
  border-radius: 8px;
  width: 50%;
}

.secciones_1 .imagen_section_1 {
  width: 50%;
  height: 320px;
  border-radius: 8px;
  object-fit: cover;
}

.parrafos {
  width: 50%;
  color: #FCFBF7;
  padding: 8px;
}

:root {
  --color-1: #272D4D;
  --color-2: #B83564;
}

@keyframes bg {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.secciones_2 {
  overflow: auto;
  background: linear-gradient(-45deg, var(--color-1), var(--color-2));
  background-size: 500% 500%;
  animation: bg 8s ease infinite reverse;
  margin-bottom: 32px;
}

.secciones_2 .h2_blanco {
  color: #FCFBF7;
  text-align: center;
  font-size: 24px;
  width: 100%;
  padding: 16px;
}

.secciones_2 .secciones_2_1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.secciones_2 .secciones_2_1 .card {
  width: 300px;
  border: 1px solid #FCFBF7;
  border-radius: 16px;
  background-color: #FCFBF7;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 16px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.secciones_2 .secciones_2_1 .card .card-container {
  overflow: hidden;
}

.secciones_2 .secciones_2_1 .card .card-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.secciones_2 .secciones_2_1 .card:hover {
  transform: scale(1.02);
}

.secciones_2 .secciones_2_1 .card:hover .card-container img {
  transform: scale(1.5);
}

.secciones_2 .secciones_2_1 .card .card-content {
  padding: 8px;
}

.secciones_2 .secciones_2_1 .card .card-content h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #B83564;
}

.secciones_2 .secciones_2_1 .card .card-content p {
  font-size: 1rem;
  margin-bottom: 16px;
  color: #272D4D;
}

.secciones_2 .button-text {
  text-decoration: none;
}

.secciones_3 {
  overflow: auto;
  background-color: #FCFBF7;
}

.secciones_3 h2 {
  color: #B83564;
  text-align: center;
  font-size: 24px;
  width: 100%;
  padding: 16px;
}

.secciones_3 .secciones_3_1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.secciones_3 .secciones_3_1 .card {
  position: relative;
  width: 300px;
  border: 1px solid #643057;
  border-radius: 16px;
  background-color: #FCFBF7;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 16px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.secciones_3 .secciones_3_1 .card .card-container {
  overflow: hidden;
}

.secciones_3 .secciones_3_1 .card .card-container img {
  width: 50%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.secciones_3 .secciones_3_1 .card:hover {
  transform: scale(1.02);
}

.secciones_3 .secciones_3_1 .card:hover .card-container img {
  transform: scale(1.5);
}

.secciones_3 .secciones_3_1 .card .card-content {
  padding: 8px;
}

.secciones_3 .secciones_3_1 .card .card-content h3 {
  font-size: 1rem;
  margin-bottom: 8px;
  color: #B83564;
}

.secciones_3 .secciones_3_1 .card .card-content p {
  font-size: 0.875rem;
  margin-bottom: 16px;
  color: #272D4D;
}

.secciones_3 .secciones_3_1 .card .card-footer {
  background: linear-gradient(-45deg, var(--color-1), var(--color-2));
  background-size: 500% 500%;
  animation: bg 8s ease infinite reverse;
}

.secciones_3 .secciones_3_1 .card .card-footer strong {
  color: #fff;
}

.secciones_3 .secciones_3_1 .card .floating-chip {
  position: absolute;
  background: linear-gradient(-45deg, var(--color-1), var(--color-2));
  background-size: 500% 500%;
  animation: bg 8s ease infinite reverse;
  top: 16px;
  right: 16px;
  color: #fff;
  border-radius: 100%;
  padding: 24px 8px;
  text-align: center;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 100%;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #B83564;
  border-radius: 1.625rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #272D4D;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.card h-100 {
  background: linear-gradient(-45deg, var(--color-1), var(--color-2));
  background-size: 500% 500%;
  animation: bg 8s ease infinite reverse;
}

.container_1 {
  background: linear-gradient(-45deg, var(--color-1), var(--color-2));
  background-size: 500% 500%;
  animation: bg 8s ease infinite reverse;
}

.screenshot-image {
  position: relative;
  top: 0px;
  right: 0px;
  width: 200px;
}

.grid_conteiner img {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.grid_conteiner {
  display: grid;
  grid-template-columns: repeat(auto-fill 3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-right: 7.5%;
  margin-left: 7.5%;
  margin-top: 32px;
  margin-bottom: 32px;
  row-gap: 8px;
  column-gap: 8px;
  justify-content: center;
  grid-template-areas: "area1 area2 area3 area4" "area1 area2 area3 area4" "area1 area2 area6 area7" "area8 area8 area8 area7" "area8 area8 area8 area7";
}

.grid_conteiner .tip_1 {
  position: relative;
  overflow: hidden;
  border: solid 1px #643057;
  border-radius: 16px;
  padding: 8px;
  color: #272D4D;
  grid-area: area1;
}

.grid_conteiner .tip_1 .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/Tips/fondo_tip_1.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

.grid_conteiner .tip_1 p {
  position: relative;
  z-index: 4;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.grid_conteiner .tip_2 {
  position: relative;
  border: solid 1px #643057;
  border-radius: 16px;
  padding: 8px;
  color: #272D4D;
  grid-area: area2;
}

.grid_conteiner .tip_2 .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/Tips/fondo_tip_2.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  border-radius: 16px;
}

.grid_conteiner .tip_2 p {
  position: relative;
  z-index: 4;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.grid_conteiner .tip_3 {
  position: relative;
  border: solid 1px #643057;
  border-radius: 16px;
  padding: 8px;
  color: #272D4D;
  grid-area: area3;
}

.grid_conteiner .tip_3 .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  background-image: url("../images/Tips/fondo_tip_3.jpg");
}

.grid_conteiner .tip_3 p {
  position: relative;
  z-index: 4;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.grid_conteiner .tip_4 {
  position: relative;
  border: solid 1px #643057;
  border-radius: 16px;
  padding: 8px;
  color: #272D4D;
  grid-area: area4;
}

.grid_conteiner .tip_4 .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  background-image: url("../images/Tips/fondo_tip_4.jpg");
}

.grid_conteiner .tip_4 p {
  position: relative;
  z-index: 4;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.grid_conteiner .tip_6 {
  position: relative;
  border: solid 1px #643057;
  border-radius: 16px;
  padding: 8px;
  color: #272D4D;
  grid-area: area6;
}

.grid_conteiner .tip_6 .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  background-image: url("../images/Tips/fondo_tip_6.jpg");
}

.grid_conteiner .tip_6 p {
  position: relative;
  z-index: 4;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.grid_conteiner .tip_7 {
  position: relative;
  border: solid 1px #643057;
  border-radius: 16px;
  padding: 8px;
  color: #272D4D;
  grid-area: area7;
}

.grid_conteiner .tip_7 .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  background-image: url("../images/Tips/fondo_tip_7.jpg");
}

.grid_conteiner .tip_7 p {
  position: relative;
  z-index: 4;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.grid_conteiner .tip_8 {
  position: relative;
  border: solid 1px #643057;
  border-radius: 16px;
  padding: 8px;
  color: #272D4D;
  grid-area: area8;
}

.grid_conteiner .tip_8 .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  background-image: url("../images/Tips/fondo_tip_8.jpg");
}

.grid_conteiner .tip_8 p {
  position: relative;
  z-index: 4;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.grid_conteiner .modal-header img {
  width: 56px;
  height: 56px;
}

/* Estilos mobile y tablets */
@media screen and (max-width: 449px) {
  .tarjeta-identificatoria {
    width: 100%;
  }

  .navbar .btn_1 {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .secciones_1 iframe {
    width: 100%;
  }

  .parrafos {
    width: 100%;
  }

  .secciones_1 .imagen_section_1 {
    width: 100%;
    order: -1;
  }

  .tarjeta-identificatoria {
    margin-top: 20px;
    margin-bottom: 32px;
  }

  .formulario {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .grid_conteiner {
    grid-template-columns: 2fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "area1" "area2" "area3" "area4" "area6" "area7" "area8" "area9";
  }

  .grid_conteiner .tip_1,
  .grid_conteiner .tip_2,
  .grid_conteiner .tip_3,
  .grid_conteiner .tip_4,
  .grid_conteiner .tip_6,
  .grid_conteiner .tip_7,
  .grid_conteiner .tip_8 {
    width: 100%;
    height: 200px;
  }
}

@media screen and (min-width: 624px) and (max-width: 1199px) {
  .grid_conteiner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "area1 area2" "area3 area4" "area6 area7" "area8 area9";
  }

  .grid_conteiner .tip_1,
  .grid_conteiner .tip_2,
  .grid_conteiner .tip_3,
  .grid_conteiner .tip_4,
  .grid_conteiner .tip_6,
  .grid_conteiner .tip_7,
  .grid_conteiner .tip_8 {
    width: 100%;
  }
}

/* Estilos para desktop */
@media screen and (min-width: 1200px) {
  .container {
    align-items: center;
  }

  .formulario {
    margin-bottom: 0;
  }

  .tarjeta-identificatoria {
    margin-top: 0;
    margin: 0;
    margin-bottom: 32px;
  }
}

/*# sourceMappingURL=styles.css.map */