// Variables de Colores
$color-primario: #272D4D;     // Azul
$color-acento: #B83564;       // Rosa
$color-fondo: #FCFBF7;        // Blanco
//$color-gradient: background-image: linear-gradient(to right bottom, #272d4d, #463461, #6c366c, #93356d, #b83564);//

// Variables de Tipografía
$tamanio-texto: 16px;
$linea-texto: 1.5;

// Variables de Espaciado y Dimensiones
$espaciado-pequeno: 8px;
$espaciado-mediano: 16px;
$espaciado-grande: 32px;

// Variables de Bordes y Sombras
$borde-radio: 30px;
$sombra: 0 2px 5px rgba(0, 0, 0, 0.1);

// Variables de Animaciones
$duracion-animacion: 0.3s;
$funcion-animacion: ease-in-out;

// Otros
$transparencia: 0.8;