* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap');
@import "_variables.scss";
@import "_navbar.scss";
@import "_header.scss";
@import"_footer.scss";
@import"_tarjeta-mascota.scss";

html {
    background-color: $color-fondo;
    scroll-behavior: smooth;
}

section {
    margin-right: 7.5%;
    margin-left: 7.5%;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: $color-acento;
    width: 100%;
    margin-bottom: 16px;
    margin-top: 32px;
}



.container {
    justify-content: center;
    margin-bottom: 32px;

    .carousel-item {
        img {
            border-radius: 50%;
        }

        width: 200px;
        height: 200px;
    }

}

.secciones_1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(-45deg, var(--color-1), var(--color-2));
    background-size: 500% 500%;
    animation: bg 5s ease infinite reverse;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: $espaciado-grande;
    box-shadow: $sombra;

    iframe {
        border-radius: 8px;
        width: 50%;
    }

    .imagen_section_1 {
        width: 50%;
        height: 320px;
        border-radius: 8px;
        object-fit: cover;
    }

}

.parrafos {
    width: 50%;
    color: $color-fondo;
    padding: 8px;
}

:root {
    --color-1: #272D4D;
    --color-2: #B83564;

}

@keyframes bg {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.secciones_2 {
    overflow: auto;
    background: linear-gradient(-45deg, var(--color-1), var(--color-2));
    background-size: 500% 500%;
    animation: bg 8s ease infinite reverse;
    margin-bottom: $espaciado-grande;

    .h2_blanco {
        color: $color-fondo;
        text-align: center;
        font-size: 24px;
        width: 100%;
        padding: 16px;
    }

    .secciones_2_1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .card {
            width: 300px;
            border: 1px solid $color-fondo;
            border-radius: 16px;
            background-color: $color-fondo;
            overflow: hidden;
            box-shadow: $sombra;
            margin: 16px;
            position: relative;
            overflow: hidden;
            transition: transform 0.3s ease-in-out;

            .card-container {
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                    transition: transform 0.3s ease-in-out;
                }
            }

            &:hover {
                transform: scale(1.02);

                .card-container img {
                    transform: scale(1.5);
                }
            }

            .card-content {
                padding: 8px;

                h3 {
                    font-size: 1.2rem;
                    margin-bottom: 8px;
                    color: $color-acento;
                }

                p {
                    font-size: 1rem;
                    margin-bottom: 16px;
                    color: $color-primario;
                }
            }
        }
    }

    .button-text {
        text-decoration: none;
    }

}

.secciones_3 {
    overflow: auto;
    background-color: $color-fondo;

    h2 {
        color: $color-acento;
        text-align: center;
        font-size: 24px;
        width: 100%;
        padding: 16px;
    }

    .secciones_3_1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .card {
            position: relative;
            width: 300px;
            border: 1px solid #643057;
            border-radius: 16px;
            background-color: $color-fondo;
            overflow: hidden;
            box-shadow: $sombra;
            margin: 16px;
            position: relative;
            overflow: hidden;
            transition: transform 0.3s ease-in-out;

            .card-container {
                overflow: hidden;

                img {
                    width: 50%;
                    height: auto;
                    transition: transform 0.3s ease-in-out;
                }
            }

            &:hover {
                transform: scale(1.02);

                .card-container img {
                    transform: scale(1.5);
                }
            }

            .card-content {
                padding: 8px;

                h3 {
                    font-size: 1rem;
                    margin-bottom: 8px;
                    color: $color-acento;
                }

                p {
                    font-size: 0.875rem;
                    margin-bottom: 16px;
                    color: $color-primario;
                }
            }

            .card-footer {
                background: linear-gradient(-45deg, var(--color-1), var(--color-2));
                background-size: 500% 500%;
                animation: bg 8s ease infinite reverse;

                strong {
                    color: #fff;
                }
            }

            .floating-chip {
                position: absolute;
                background: linear-gradient(-45deg, var(--color-1), var(--color-2));
                background-size: 500% 500%;
                animation: bg 8s ease infinite reverse;
                top: 16px;
                right: 16px;
                color: #fff;
                border-radius: 100%;
                padding: 24px 8px;
                text-align: center;
            }
        }
    }

}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;

}

button.learn-more {
    width: 100%;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: $color-acento;
    border-radius: 1.625rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: $color-primario;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

.card h-100 {
    background: linear-gradient(-45deg, var(--color-1), var(--color-2));
    background-size: 500% 500%;
    animation: bg 8s ease infinite reverse;
}

.container_1 {
    background: linear-gradient(-45deg, var(--color-1), var(--color-2));
    background-size: 500% 500%;
    animation: bg 8s ease infinite reverse;
}

.screenshot-image {
    position: relative;
    top: 0px;
    right: 0px;
    width: 200px;
}

.grid_conteiner img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
}

.grid_conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fill 3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-right: 7.5%;
    margin-left: 7.5%;
    margin-top: 32px;
    margin-bottom: 32px;
    row-gap: 8px;
    column-gap: 8px;
    justify-content: center;
    grid-template-areas: "area1 area2 area3 area4"
        "area1 area2 area3 area4"
        "area1 area2 area6 area7"
        "area8 area8 area8 area7"
        "area8 area8 area8 area7";

    .tip_1 {
        position: relative;
        overflow: hidden;
        border: solid 1px #643057;
        border-radius: 16px;
        padding: 8px;
        color: #272D4D;
        grid-area: area1;

        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../images/Tips/fondo_tip_1.jpg');
            background-size: cover;
            background-position: center;
            opacity: 0.6;
        }

        p {
            position: relative;
            z-index: 4;
            text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
        }
    }

    .tip_2 {
        position: relative;
        border: solid 1px #643057;
        border-radius: 16px;
        padding: 8px;
        color: #272D4D;
        grid-area: area2;

        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../images/Tips/fondo_tip_2.jpg');
            background-size: cover;
            background-position: center;
            opacity: 0.6;
            border-radius: 16px;
        }

        p {
            position: relative;
            z-index: 4;
            text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
        }

    }

    .tip_3 {
        position: relative;
        border: solid 1px #643057;
        border-radius: 16px;
        padding: 8px;
        color: #272D4D;
        grid-area: area3;

        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            background-size: cover;
            background-position: center;
            opacity: 0.6;
            background-image: url('../images/Tips/fondo_tip_3.jpg');
        }

        p {
            position: relative;
            z-index: 4;
            text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
        }
    }

    .tip_4 {
        position: relative;
        border: solid 1px #643057;
        border-radius: 16px;
        padding: 8px;
        color: #272D4D;
        grid-area: area4;

        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            background-size: cover;
            background-position: center;
            opacity: 0.6;
            background-image: url('../images/Tips/fondo_tip_4.jpg');
        }

        p {
            position: relative;
            z-index: 4;
            text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
        }
    }

    .tip_6 {
        position: relative;
        border: solid 1px #643057;
        border-radius: 16px;
        padding: 8px;
        color: #272D4D;
        grid-area: area6;

        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            background-size: cover;
            background-position: center;
            opacity: 0.6;
            background-image: url('../images/Tips/fondo_tip_6.jpg');
        }

        p {
            position: relative;
            z-index: 4;
            text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
        }
    }

    .tip_7 {
        position: relative;
        border: solid 1px #643057;
        border-radius: 16px;
        padding: 8px;
        color: #272D4D;
        grid-area: area7;

        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            background-size: cover;
            background-position: center;
            opacity: 0.6;
            background-image: url('../images/Tips/fondo_tip_7.jpg');
        }

        p {
            position: relative;
            z-index: 4;
            text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
        }
    }

    .tip_8 {
        position: relative;
        border: solid 1px #643057;
        border-radius: 16px;
        padding: 8px;
        color: #272D4D;
        grid-area: area8;

        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            background-size: cover;
            background-position: center;
            opacity: 0.6;
            background-image: url('../images/Tips/fondo_tip_8.jpg');
        }

        p {
            position: relative;
            z-index: 4;
            text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
        }
    }

    .modal-header {
        img {
            width: 56px;
            height: 56px;
        }
    }
}

/* Estilos mobile y tablets */
@media screen and (max-width: 449px) {
    .tarjeta-identificatoria {
        width: 100%;
    }

    .navbar {
        .btn_1 {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1199px) {

    .secciones_1 iframe {
        width: 100%;
    }

    .parrafos {
        width: 100%;
    }

    .secciones_1 .imagen_section_1 {
        width: 100%;
        order: -1;
    }

    .tarjeta-identificatoria {
        margin-top: 20px;
        margin-bottom: 32px;
    }

    .formulario {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .grid_conteiner {
        grid-template-columns: 2fr; // Solo una columna
        grid-template-rows: repeat(8, 1fr); // 8 filas
        grid-template-areas:
            "area1"
            "area2"
            "area3"
            "area4"
            "area6"
            "area7"
            "area8"
            "area9";

        .tip_1,
        .tip_2,
        .tip_3,
        .tip_4,
        .tip_6,
        .tip_7,
        .tip_8 {
            width: 100%;
            height: 200px;
        }

    }


}

@media screen and (min-width: 624px) and (max-width: 1199px) {
    .grid_conteiner {
        grid-template-columns: repeat(2, 1fr); // Dos columnas
        grid-template-rows: repeat(4, 1fr); // Cuatro filas
        grid-template-areas:
            "area1 area2"
            "area3 area4"
            "area6 area7"
            "area8 area9";

        .tip_1,
        .tip_2,
        .tip_3,
        .tip_4,
        .tip_6,
        .tip_7,
        .tip_8 {
            width: 100%;
        }
    }
}

/* Estilos para desktop */
@media screen and (min-width: 1200px) {

    .container {
        align-items: center;
    }

    .formulario {
        margin-bottom: 0;
    }

    .tarjeta-identificatoria {
        margin-top: 0;
        margin: 0;
        ;
        margin-bottom: 32px;
    }
}